In [30]:
import pandas as pd

In [37]:
#Below is the method to create individal dataframe for each month. 
#Here, dataframe for the month shrawan is created.
#Same can be done for other months and all the individual dataframes can be concatenated as one

In [34]:
df_shrawan=pd.read_excel('customs_excel_files/Shrawan.xlsx',sheet_name='5_Imports_By_Commodity',header=2)

In [35]:
desiredDescriptions=['AC/DC Flat charger for electric vehicles',
'With only electric motor for propulsion:',
'Electric three wheelers vehicles',
'Electric car, jeep & van upto 100KW',
'Electric car, jeep & van > 150KW to <=200KW',
'Three wheeler with only electric motors for propulsion',
'With electric motor for propulsion',
'With electric motor for propulsion',
'Induction stove',
'Infrared stove',
'Rice cooker',
'Electro-mechanical domestic appliances, ne  , with electric motor',
'Furnaces and ovens functioning by inductio   or dielectric loss']

filtered_df_shrawan = df_shrawan[df_shrawan['Description'].isin(desiredDescriptions)]
filtered_df_shrawan.insert(loc=0, column='Month', value='Shrawan')

In [36]:
filtered_df_shrawan

,Month,HSCode,Description,Unit,Quantity,Imports_Value,Imports_Revenue
3235,Shrawan,85044010.0,AC/DC Flat charger for electric vehicles,PCS,35330.0,11662.067428,2750.766
3264,Shrawan,85098000.0,"Electro-mechanical domestic appliances, ne , ...",PCS,3126.0,2443.944195,595.056
3284,Shrawan,85142000.0,Furnaces and ovens functioning by inductio o...,PCS,14.0,1700.865859,221.312
3304,Shrawan,85166011.0,Induction stove,PCS,63.0,85.410131,12.205
3306,Shrawan,85166020.0,Rice cooker,PCS,18600.0,21219.860331,5180.617
3480,Shrawan,87024020.0,With only electric motor for propulsion:,PCS,1.0,5548.425500,784.059
3496,Shrawan,87038019.0,Electric three wheelers vehicles,PCS,188.0,18755.364055,4552.383
3497,Shrawan,87038029.0,"Electric car, jeep & van upto 100KW",PCS,44.0,139881.487750,33921.336
3498,Shrawan,87038059.0,"Electric car, jeep & van > 150KW to <=200KW",PCS,61.0,194047.498000,58117.427
3509,Shrawan,87049020.0,Three wheeler with only electric motors for pr...,PCS,35.0,4226.564000,1027.121
3538,Shrawan,87116010.0,With electric motor for propulsion,PCS,16.0,493.497687,119.986
3539,Shrawan,87116090.0,With electric motor for propulsion,PCS,156.0,9438.857148,2293.776

In [ ]:
#Below is the method where all the dataframes are created at once and finally concatenated

In [39]:
months=['Shrawan','Bhadra','Asoj','Kartik','Mangsir','Poush','Magh','Falgun','Chaitra','Baishak','Jestha']
dfs=[]

for month in months:
    df=pd.read_excel(f'customs_excel_files/{month}.xlsx',sheet_name='5_Imports_By_Commodity',header=2)
    df = df[df['Description'].isin(desiredDescriptions)]
    df.insert(loc=0, column='Month', value=month)
    dfs.append(df)
merged_df=pd.concat(dfs)

In [40]:
merged_df.to_csv('test1.csv',index=False)